{% extends 'index.html' %}

{% block title %}Zoo Manager{% endblock %}

{% block content %}
        <div class="main_content" style="height: 100vh;">
            <h1 style="margin-bottom: 50px;">ჯგუფი 2</h1>
            <div class="about_content">
                <h1>ელენე კეკელიძე</h1>
                <h1>მიშო გოგოხია</h1>
                <h1>ნიკა მიჩილაშვილი</h1>
                <h1>ნუცა ნოზაძე</h1>
                <h1>ნია ასპანიძე</h1>
            </div>
            <div class="about_desc">
                ზოოპარკის ვებგვერდი სადაც შეძლებთ ზოოპარკში არსებული ცხოველების ნახვას.
            </div>
        </div>
{% endblock %}